.Projects{
  display: flex;
  flex-direction: column;

  h3{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px dotted black;
  }

  h4{
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  li{
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  p{
    margin-bottom: 5px;
  }
}